*.vsidx
FinalProject_DBMS/
*.bin
*.v2
*.json
/CoffeeShopApplication/.vs
/CoffeeShopApplication/CoffeeShopApplication/bin
/CoffeeShopApplication/CoffeeShopApplication/obj
FinalProject/obj/Debug/net7.0-windows/FinalProject_WinForm.AssemblyInfoInputs.cache
FinalProject/.vs/FinalProject_WinForm/v17/.suo
