
*.vsidx
FinalProject_DBMS/.vs/FinalProject_WinForm/DesignTimeBuild/.dtbcache.v2
FinalProject_DBMS/.vs/FinalProject_WinForm/v17/.futdcache.v2
FinalProject_DBMS/.vs/FinalProject_WinForm/v17/.suo
FinalProject_DBMS/.vs/FinalProject_WinForm/v17/DocumentLayout.json
FinalProject_DBMS/.vs/ProjectEvaluation/finalproject_winform.metadata.v7.bin
FinalProject_DBMS/.vs/ProjectEvaluation/finalproject_winform.projects.v7.bin
FinalProject_DBMS/bin/Debug/net7.0-windows/Azure.Core.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/Azure.Identity.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/de/Microsoft.Data.SqlClient.resources.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/es/Microsoft.Data.SqlClient.resources.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/FinalProject_WinForm.deps.json
FinalProject_DBMS/bin/Debug/net7.0-windows/FinalProject_WinForm.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/FinalProject_WinForm.dll.config
FinalProject_DBMS/bin/Debug/net7.0-windows/FinalProject_WinForm.dll.locked
FinalProject_DBMS/bin/Debug/net7.0-windows/FinalProject_WinForm.exe
FinalProject_DBMS/bin/Debug/net7.0-windows/FinalProject_WinForm.pdb
FinalProject_DBMS/bin/Debug/net7.0-windows/FinalProject_WinForm.runtimeconfig.json
FinalProject_DBMS/bin/Debug/net7.0-windows/fr/Microsoft.Data.SqlClient.resources.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/it/Microsoft.Data.SqlClient.resources.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/ja/Microsoft.Data.SqlClient.resources.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/ko/Microsoft.Data.SqlClient.resources.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/Microsoft.Bcl.AsyncInterfaces.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/Microsoft.Data.SqlClient.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/Microsoft.Identity.Client.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/Microsoft.Identity.Client.Extensions.Msal.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/Microsoft.Identity.Client.NativeInterop.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/Microsoft.IdentityModel.Abstractions.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/Microsoft.IdentityModel.JsonWebTokens.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/Microsoft.IdentityModel.Logging.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/Microsoft.IdentityModel.Protocols.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/Microsoft.IdentityModel.Tokens.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/Microsoft.SqlServer.Server.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/Microsoft.Web.WebView2.Core.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/Microsoft.Web.WebView2.WinForms.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/Microsoft.Web.WebView2.Wpf.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/pt-BR/Microsoft.Data.SqlClient.resources.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/ru/Microsoft.Data.SqlClient.resources.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/runtimes/win-arm64/native/msalruntime_arm64.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/runtimes/win-arm64/native/WebView2Loader.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/runtimes/win-x64/native/msalruntime.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/runtimes/win-x64/native/WebView2Loader.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/runtimes/win-x86/native/msalruntime_x86.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/runtimes/win-x86/native/WebView2Loader.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/System.IdentityModel.Tokens.Jwt.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/System.Memory.Data.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/System.Runtime.Caching.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/zh-Hans/Microsoft.Data.SqlClient.resources.dll
FinalProject_DBMS/bin/Debug/net7.0-windows/zh-Hant/Microsoft.Data.SqlClient.resources.dll
FinalProject_DBMS/bin/x86/Debug/net7.0-windows/FinalProject_WinForm.deps.json
FinalProject_DBMS/bin/x86/Debug/net7.0-windows/FinalProject_WinForm.dll
FinalProject_DBMS/bin/x86/Debug/net7.0-windows/FinalProject_WinForm.exe
FinalProject_DBMS/bin/x86/Debug/net7.0-windows/FinalProject_WinForm.pdb
FinalProject_DBMS/bin/x86/Debug/net7.0-windows/FinalProject_WinForm.runtimeconfig.json
FinalProject_DBMS/obj/Debug/net7.0-windows/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
FinalProject_DBMS/obj/Debug/net7.0-windows/apphost.exe
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalPro.4CAA851E.Up2Date
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.AssemblyInfo.cs
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.AssemblyInfoInputs.cache
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.assets.cache
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.csproj.AssemblyReference.cache
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.csproj.BuildWithSkipAnalyzers
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.csproj.CoreCompileInputs.cache
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.csproj.FileListAbsolute.txt
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.csproj.GenerateResource.cache
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.designer.deps.json
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.designer.runtimeconfig.json
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.dll
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.GeneratedMSBuildEditorConfig.editorconfig
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.genruntimeconfig.cache
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.GlobalUsings.g.cs
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.HomePage.resources
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.pdb
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.Properties.Resources.resources
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.sourcelink.json
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.UCCheckBox.resources
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.UCItems.resources
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.UCLogin.resources
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.UCMenu.resources
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.UCMyProduct.resources
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.UCQuanlity.resources
FinalProject_DBMS/obj/Debug/net7.0-windows/FinalProject_WinForm.UCSellerInfo.resources
FinalProject_DBMS/obj/Debug/net7.0-windows/ref/FinalProject_WinForm.dll
FinalProject_DBMS/obj/Debug/net7.0-windows/refint/FinalProject_WinForm.dll
FinalProject_DBMS/obj/Debug/net7.0-windows/TempPE/Properties.Resources.Designer.cs.dll
FinalProject_DBMS/obj/FinalProject_WinForm.csproj.nuget.dgspec.json
FinalProject_DBMS/obj/FinalProject_WinForm.csproj.nuget.g.props
FinalProject_DBMS/obj/FinalProject_WinForm.csproj.nuget.g.targets
FinalProject_DBMS/obj/project.assets.json
FinalProject_DBMS/obj/project.nuget.cache
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/apphost.exe
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/FinalProject_WinForm.AssemblyInfo.cs
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/FinalProject_WinForm.AssemblyInfoInputs.cache
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/FinalProject_WinForm.assets.cache
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/FinalProject_WinForm.csproj.BuildWithSkipAnalyzers
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/FinalProject_WinForm.csproj.CoreCompileInputs.cache
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/FinalProject_WinForm.csproj.FileListAbsolute.txt
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/FinalProject_WinForm.csproj.GenerateResource.cache
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/FinalProject_WinForm.designer.deps.json
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/FinalProject_WinForm.designer.runtimeconfig.json
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/FinalProject_WinForm.dll
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/FinalProject_WinForm.FormEntry.resources
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/FinalProject_WinForm.GeneratedMSBuildEditorConfig.editorconfig
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/FinalProject_WinForm.genruntimeconfig.cache
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/FinalProject_WinForm.GlobalUsings.g.cs
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/FinalProject_WinForm.HomePage.resources
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/FinalProject_WinForm.pdb
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/FinalProject_WinForm.Properties.Resources.resources
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/FinalProject_WinForm.SignUp.resources
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/FinalProject_WinForm.UCLogin.resources
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/FinalProject_WinForm.UCSellerInfo.resources
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/FinalProject_WinForm.UserControl1.resources
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/FinalProject_WinForm.UserMoreInfo.resources
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/ref/FinalProject_WinForm.dll
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/refint/FinalProject_WinForm.dll
FinalProject_DBMS/obj/x86/Debug/net7.0-windows/TempPE/Properties.Resources.Designer.cs.dll
